* {
    background-color: rgb(255, 232, 204);
}

header, main, footer, .card{
    padding: 3%;
    border: 1px solid rgb(0, 0, 0);
}


@media(min-width:600px) {
    .mainIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .innerGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: hidden;
    
}
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}
}






/* Norris */
.mainl{
    border: 1px solid black;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* Knappar */

.btn_link {

    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #000000;
    padding-inline: 0.5rem;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: system-ui;
    font-size: 1.3rem;
    display: grid;
    place-items: center;

}
.btn_linku {

    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #000000;
    padding-inline: 0.3rem;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: system-ui;
    font-size: 1.3rem;
    display: grid;
    place-items: center;
    width: 30%;

}


/* cards startsida */
.textsida {
    width: max-content;
    display: grid;
    place-items: center;
}

.textsida h1 {
    rotate: 90deg;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 





/* champ css */
.headchamp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mainc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}






.mainc img {
    width: 100%;
    max-width: 400px;
    height: 700px;
    object-fit: cover;
}

header {
    position: relative;
}


/* LOGGA */
.f1logo {
    position: absolute;
    top: 8px;
    right: 40px;
    width: 250px;
    height: auto;
}

.logo2{
    position: absolute;
    top: 8px;
    right: 40px;
    width: 250px;
    height: auto;
}
