header, main, footer.card{
    border: 1px solid black;
    min-height: 10vh;
    padding: 3%;
}

header{
    background-color: rgb(0, 0, 0);
}





.text button{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 3%;
    font-size: 1.3rem;
    border-radius: 10px;
}

